@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap');

:root {
    --black: #0f0e17;
    --pragraph-black: #a7a9be;
    --orange-ligth: #f8961e;
    --very-orange: #7f5af0;
    --main-gray: #fffffe;
    --titles-black: #2b2c34;
    --titles-white: #fffffe;
    --GrayishBlue: hsl(201, 11%, 66%);
}

* {
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #0000000b;
    position: relative;
    font-family: 'Bai Jamjuree', sans-serif;
    z-index: -99;
}

body.modal-open {
    overflow: hidden;
    width: 100%;

}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1rem 0;
    transition: .5s ease;
    animation: opacity 2s ease;
    /* border: 1px solid red; */
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    width: 90%;
    margin: auto;
    max-width: 1400px;
}

.figure__logo {
    width: 100px;
}

.icon__services {
    max-width: 20px;
    object-fit: cover;
    aspect-ratio: 8 / 9;
}
.img-card-back{
    width: 100%;
    max-width: 100px;
}

.img-card-back2{
    width: 100%;
    max-width: 170px;
}

.btn--salir-card{
    padding: .6rem 0 !important;
    border-radius: .5rem;
    width: 120px;
    margin: 0 auto;
}
.nav__header--content {
    position: absolute;
    top: 0;
    height: auto;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.nav__header--contentBg {
    background: #05050597;
    transition: .5s ease-in-out;
}

.nav__logo--title {
    position: absolute;
    top: 18px;
    left: 20px;
}

.nav__header {
    background: #202020;
    position: absolute;
    top: 0;
    right: 0;
    min-height: unset;
    width: 250px;
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 51%);
    border-left: 2px solid var(--pragraph-black);
    transition: clip-path .4s ease;
}

.nav__header--active {
    transition: clip-path .5s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 48%);
}

.box__model {
    z-index: 10;
}

.nav__header--grid {
    margin: 5rem auto 0rem auto;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: start;
    padding: 1rem 0;
    width: 84%;
}


.nav__froms--container {
    text-align: center;
}

.nav__link {
    display: flex;
    align-items: center;
    gap: .6rem;
    color: var(--titles-white);
    transition: color .5s ease-in-out;
    border-bottom: 1px solid transparent;

}


.modals--btns {
    font-family: inherit;
    font-weight: 600;
    border: none;
    color: var(--titles-black);
    font-size: .95em;
    padding: .5rem .5rem;
    border-radius: .2rem;
}

/* ESTILO EN EL HTML */
.grid--gap {
    display: grid;
    gap: 1rem;
}


.dropdown__list {
    padding: .6rem 0 .3rem 2rem;
    display: grid;
    gap: 1rem;
    font-size: .9em;
    max-height: 0px;
    clip-path: inset(0 0 100% 0);
    transition: clip-path .1s ease;

}

.nav__link--drop {
    color: #bebebe;
    font-weight: 500;
}

.nav__link--drop:hover {
    color: var(--orange-ligth);
}

.dropdown__list li:nth-child(-n + 2) {
    border-bottom: 1px solid rgba(147, 147, 147, 0.542);
}

.dropdown__item {
    padding-bottom: .5rem;
}

.icon__arrow {
    width: 10px;
    transition: .2s ease;
}

.dropdown__list--show {
    max-height: 250px;
    clip-path: inset(0 0 0 0);
    transition: clip-path .5s ease-in-out;
}

.margin-bottom {
    margin-bottom: 100px;
}

.rotate--arrow {
    transform: rotate(180deg);
}


.modal__container {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 0vh;
    background: #05050597;
    filter: brightness(95%) saturate(95%);

    display: grid;
    width: 100%;
    overflow-y: auto;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 1s ease;

}

.modal__container--show {
    clip-path: inset(0 0 0 0);
    transition: clip-path 1s ease;
    height: 100vh;
}

.btn {
    cursor: pointer;
}

.modal__content {
    box-sizing: border-box;
    border: 1px solid black;
    background-color: #F4F4F4;
    width: 90%;
    max-width: 1000px;
    height: 90%;
    padding: 2rem 0;
    margin: 2rem auto;
    position: relative;
    opacity: 0;
    border-radius: .5rem;
    overflow-y: auto;
}

.modal__content--show {
    overflow-y: auto;
    opacity: 1;
    transition: opacity 1.2s ease-in-out;

}

.form__modal {
    width: 90%;
    margin: 0 auto;
}

.from__input {
    position: relative;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50px 1fr;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    background-color: #F9F9F9;
    border: 1px solid #E5E5E5;
    border-radius: 0 .3rem .3rem 0;
    transition: .6s ease-in-out;
    filter: drop-shadow(1px 1px 3px #97979728);

}

.from__input--content {
    display: flex;
    flex-direction: column;
}

.from--icon {
    height: 32px;
    display: grid;
    place-items: center;
    border-right: 1px solid #7979795e;
    transition: .6s ease-in-out;
    color: #969696;


}

.inputs {
    padding: .5rem;
    border: 1px solid transparent;
    border-bottom: 1px solid #eeee;
    background-color: transparent;
    border-radius: 0 .3rem .3rem 0;
    font-family: inherit;
    color: var(--black);
    font-weight: 700;
    font-size: .9em;
}

.inputs:focus-within{
    outline: none;
}

::placeholder{
    color: var(--pragraph-black);
    font-weight: 400;
}
.selected {
    border: none;
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 0 .3rem .3rem 0;
    transition: .6s ease-in-out;
    font-family: inherit;
    color: var(--black);
    font-weight: 600;
}

.from__input:focus-within .from--icon {
    border-color: var(--orange-ligth);
    
}
.from__input:focus-within {
    border-color: var(--orange-ligth);
}

.from__input:focus-within .fa-icon {
    color: var(--orange-ligth);
}



.selected:focus-within{
    outline: none;
    color: var(--orange-ligth);
    
}

.selected option:first-child{
    color: var(--pragraph-black);
}

.selected option{
    color: var(--black);
    font-weight: 600;
    
}

.name__tile{
    color: var(--orange-ligth);
}


.textarea{
    border:transparent;
    border-radius: 0 .3rem .3rem 0;
    font-family: inherit;
    transition: .6s ease-in-out;
    resize: none;
}

.textarea:focus-within{
    outline: none;
}

.reserva__title {
    font-size: 1.5em;
    color: var(--titles-black);
}

.reserva__paragraph {
    color: var(--GrayishBlue);
    margin: .5rem 0;
}

.btn-solicitud {
    display: block;
    margin: auto;
    padding: .6rem 1rem;
    margin-top: 1rem;
    width: 150px;
    border: none;
    border-radius: .5rem;
    background-color: var(--orange-ligth);
    color: var(--titles-white);
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    transition: .7s ease-in-out;
}

.btn-reserva{
    margin: 1rem auto 0 auto;
}

.from--datos--decition{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.btn-solicitud:hover{
    background-color: var(--very-orange);
}

.modal__content--hide {
    opacity: 0;
    transform: translateY(-200%);
}

.center {
    text-align: center;
}

.close__modal {
    position: absolute;
    top: 2%;
    right: 3.6%;
    border: 1px solid transparent;
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    border-radius: 999px;
    transition: .5s ease-in-out;
}

.close__modal:hover {
    color: #e63946;
    border-color: #e63946;
}

.close__modal--prevent {
    display: none;
}

.box__model {
    cursor: pointer;
}

.checkbox-lab{
    color: var(--GrayishBlue);
    font-size: .9em;
    cursor: pointer;
}

.checkbox{
    cursor: pointer;
}

.checkbox:checked{
    color: red;
}


/* CARDS BACK */
.card__back--container {
    position: absolute;
    top: 0;
    height: 0vh;
    display: grid;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 1s ease;
    background: #05050597;
}

.card__back--container-show {
    clip-path: inset(0 0 0 0);
    transition: clip-path 1s ease;
    height: 100vh;
}

.filters {
    transition: filter .1s ease;
    filter: blur(.7px);
}

.card__back--content {
    text-align: center;
    background-color: var(--titles-white);
    width: 90%;
    margin: 0 auto;
    border-radius: .5rem;
    max-width: 550px;
    padding: 2rem .5rem;
    display: grid;
    gap: 1rem;
    opacity: 0;
    filter: drop-shadow(2px 2px 6px #f780003a);
}

.card__title{
    font-size: 1.3em;
    font-weight: 600;
}
.destinos--span{
    color: var(--orange-ligth);
    font-weight: 600;
}

.span__transportadora{
    color: var(--black);
    font-weight: 600;

}

.btn-confimacion{
    width: 120px;
    padding: .7rem 0 !important;
    border-radius: .5rem;
    margin: 0 auto;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

.card__description{
    line-height: 1.6;
    color: var(--GrayishBlue);
    font-size: .95em;
}
.card__back__content--show {
    opacity: 1;
    transition: opacity 1.2s ease-in-out;
}

.card__back--content img {
    margin: 0 auto;
}

/* Elementos hover */

.nav__link-hover {
    color: var(--orange-ligth);
}



.nav__item--pages {
    padding-bottom: .4rem;
}

.item-pages-active {
    border-bottom: 1px solid transparent;
    color: var(--orange-ligth);
    border-color: var(--orange-ligth);
    transition: .5s ease-in-out;
}



/* Shutter Out Vertical */
.btn {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: var(--orange-ligth);
    color: var(--titles-white);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    cursor: pointer;
    border: none;
}

.btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--very-orange);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    cursor: pointer;
    border-radius: .2rem;
}

.btn:hover,
.btn:focus,
.btn:active {
    color: var(--titles-white);
}

.btn:hover:before,
.btn:focus:before,
.btn:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
.container__decision{
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
}


/* @keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} */

/* MediaQuerys */

/* Dispositivos tablet de 768px */
@media (min-width: 48rem) {
    .icons-header {
        display: none;
    }

    .header {
        box-sizing: border-box;
        position: fixed;
        width: 100%;
        top: 0;
        padding: 1rem 0 .2rem 0;
    }

    .header__container {
        display: grid;
        grid-template-columns: 12% 1fr;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        width: 90%;
        margin: auto;
    }


    .nav__header--content {
        position: relative;
        height: unset;
        width: unset;
    }

    .nav__logo--title {
        display: none;
    }

    .nav__header {
        background: transparent;
        position: relative;
        height: unset;
        width: unset;
        clip-path: none;
        border-left: none;
        transition: none;
    }


    .box__model {
        display: none;
    }

    .nav__header--grid {
        margin: 0rem auto 0rem auto;
        height: unset;
        display: grid;
        grid-template-columns: 1fr 300px;
        align-items: center;
        padding: 0;
        width: unset;
        gap: 1rem;
    }


    .nav__froms--container {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1rem;
    }

        
    .nav__link--drop {
        color: var(--titles-black);
    }

    .btn {
        padding: .2rem .3rem;
    }


    .flex__center {
        display: flex;
        align-items: center;

    }

    .nav__header--container {
        justify-content: end;
    }

    .dropdown__list {
        box-sizing: border-box;
        display: block;
        position: absolute;
        background-color: var(--titles-white);
        top: 32px;
        border-top: 15px solid var(--orange-ligth);
        height: 170px;
        width: 220px;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: .5rem 1rem 0 2rem;
        filter: drop-shadow(1px 1px 4px #00000020);
        border-radius: 0 0 1rem 1rem;

    }

    .modal__container {
        align-items: center;

    }

    body.modal-open-desktop {
        overflow: hidden;
        width: 100%;
    }


    .modals--btns {
        font-family: inherit;
        font-weight: 600;
        font-size: .9em;
        padding: .2rem .4rem;
    }

    .modal__content {
        max-height: 550px;
    }

    .from__responsive--one {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    /* .from__responsive--two {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
    } */

    .modal__content {
        height: 85%;
    }

    .btn-solicitud {
        margin: 0;
        padding: .7rem 1rem;
        margin-top: 0rem;
        width: 160px;
    }

    .center {
        text-align: left;
        width: 90%;
        margin: auto;
    }

    .reserva__paragraph {
        margin: .6rem auto;
    }

    .btn-reserva{
        margin: 1rem 0 0 0;
    }
}

/* Dispositivos desktop mini */
@media (min-width: 48rem) {

    .from__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }

    .from__input {
        width: 100%;
        margin-top: 1rem;
    }

    .nav__link {
        padding: .2rem;
    }



}

/* Dispositivos desktop mini de 1024px */
@media (min-width: 64rem) {

    .dropdown__list {
        padding: .7rem 0 .7rem 2rem;
        border-top: 9px solid var(--orange-ligth);

    }

}

/* Dispositivos desktop de 1280px */
@media (min-width: 80rem) {
    .modals--btns {
        font-family: inherit;
        font-weight: 600;
        font-size: .95em;
        padding: .3rem .4rem;
    }



}

/* Dispositivos desktop de 1440px */
@media (min-width: 90rem) {

    .figure__logo {
        width: 120px;
    }

    .nav__link {
        font-size: 1.1em;
    }

    .modals--btns {
        padding: .4rem .4em;
    }

}

/* Dispositivos desktop de 1920px */
@media (min-width: 100rem) {
    .header {
        padding: 1.4rem 0 0 0;
    }

    .nav__link {
        font-size: 1.2em;
    }

    .nav__header--grid {
        grid-template-columns: 1fr 400px;
    }

    .nav__header--grid {
        gap: 2rem;
    }

    .grid--gap {
        gap: 2.5rem;
    }

    .open-modal {
        font-size: 1em;
    }

    .modals--btns {
        font-size: 1em;
        padding: .4rem .7em;
    }




}

/* Dispositivos desktop de 2560px */
@media (min-width: 150rem) {}