

*{
    margin: 0;
    padding: 0;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #0000000b;
}

body.modal-open{
    overflow: hidden;
    width: 100%;
}

.header{
    background-color: #00000041;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(143, 143, 143, 0.105);
    transition: .5s ease;
    animation: opacity 2s ease;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    width: 90%;
    margin: auto;
    max-width: 1400px;
}

.figure__logo{
    width: 100px;
}

.icon__services{
    max-width: 20px;
    object-fit: cover;
    aspect-ratio: 8 / 9;
}

.nav__header--content{
    position: absolute;
    top: 0;
    height: auto;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
}

.nav__header--contentBg{
    background: #05050597;
    transition: .5s ease-in-out;
}

.nav__logo--title{
    position: absolute;
    top: 16px;
    left: 20px;
}

.nav__header{
    background: rgb(24, 24, 24);
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 51%);
    border-left: 2px solid gray;
    transition: clip-path .4s ease;
}   

.nav__header--active{
    transition: clip-path .5s ease-in-out;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 48%);
}

.box__model{
    z-index: 10;
}

.nav__header--grid{
    margin: 5rem auto 0rem auto;
    /* margin-top: 5rem; */
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: start;
    padding: 1rem 0;
    width: 84%;
}


.nav__froms--container{
    text-align: center;
}

.nav__link{
    display: flex;
    align-items: center;
    gap: .6rem;
    color: #aaaaaa;
    transition: color .5s ease-in-out;
}


/* ESTILO EN EL HTML */
.grid--gap{
    display: grid;
    gap: 1rem;
}


.dropdown__list{
    /* display: none; */
    padding: .5rem 0 0 2rem;
    display: grid;
    gap: 1rem;
    font-size: .9em;
    max-height: 0px;
    clip-path: inset(0 0 100% 0);
    transition: clip-path .1s ease;

}
.dropdown__list li:nth-child(-n + 2){
    border-bottom: 1px solid rgba(147, 147, 147, 0.542);;

}
.dropdown__item{
    padding-bottom: .5rem;
}

.icon__arrow{
    width: 10px;
    transition: .2s ease;
}

.dropdown__list--show{
    max-height: 250px;
    clip-path: inset(0 0 0 0);
    transition: clip-path .5s ease-in-out;
}

.margin-bottom{
    margin-bottom: 100px;
}

.rotate--arrow{
    transform: rotate(180deg);
}


.modal__container{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 0vh;
    /* background-color:red; */
    background: #05050597;
    filter:  brightness(80%) saturate(90%); 

    display: grid;
    /* align-items: center; */
    width: 100%;
    overflow-y: auto;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 1s ease;
    
}

.modal__container--show{
    clip-path: inset(0 0 0 0);
    transition: clip-path 1s ease;
    height: 100vh;
}
.btn{
    cursor: pointer;
}
.modal__content{
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;    
    width: 90%;
    max-width: 1000px;
    padding: 1rem;
    margin: 2rem auto;
    position: relative;
    opacity: 0;
    border-radius: .5rem;
}

.modal__content--show{
    overflow-y: auto;
    opacity: 1;
    transition: opacity 1.2s ease-in-out;
}

.form__modal{
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* gap: 1rem; */
    width: 90%;
    margin: 0 auto;
}

.from__input{
    display: flex;
    flex-direction: column;
    gap: .3rem;
    width: 100%;
    margin-top: 1rem;
}



.modal__content--hide{
    opacity: 0;
    transform: translateY(-200%);
}

.center{
    text-align: center;
}

.close__modal{
    position: absolute;
    top: 2%;
    right: 3.6%;
}

.close__modal--prevent{
    display: none;
}

.box__model{
    cursor: pointer;
}


/* CARDS BACK */
.card__back--container{
    position: absolute;
    top: 0;
    height: 0vh;
    display: grid;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 1s ease;
    background: #05050597;
}

.card__back--container-show{
    clip-path: inset(0 0 0 0);
    transition: clip-path 1s ease;
    height: 100vh;
}

.filters{
    transition: filter .1s ease;
    filter: blur(.7px);
}
.card__back--content{
    text-align: center;
    background-color: white;
    width: 80%;
    margin: 0 auto;
    border-radius: .5rem;
    max-width: 450px;
    padding: 1rem .5rem;
    display: grid;
    gap: 1rem;
    opacity: 0;
}

.card__back__content--show{
    opacity: 1;
    transition: opacity 1.2s ease-in-out;
}

.card__back--content img{
    margin: 0 auto;
}

/* Elementos hover */

.nav__link:hover{
    color: orange;

}

@keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* MediaQuerys */

/* Dispositivos tablet de 768px */
@media (min-width: 48rem){
    
    .header{
        box-sizing: border-box;
        position: fixed;
        width: 100%;
        top: 0;
        padding: 1rem 0 0 0;
    }

    .header__container{
        display: grid;
        grid-template-columns: 12% 1fr;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        width: 90%;
        margin: auto;
    }


    .nav__header--content{
        position: relative;
        height: unset;
        width: unset;
    }

    .nav__header--title{
        display: none;
    }

    .nav__header{
        background: transparent;
        position: relative;
        height: unset;
        width: unset;
        clip-path: none;
        border-left: none;
        transition: none;
    }   


    .box__model{
        display: none;
    }

    .nav__header--grid{
        margin: 0rem auto 0rem auto;
        height: unset;
        display: grid;
        grid-template-columns: 1fr 300px;
        align-items: center;
        padding:0;
        width: unset;
        gap: 1rem;
    }


    .nav__froms--container{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1rem;
    }

    .btn{
        padding: .2rem .3rem;
    }

    
    .flex__center{
        display: flex;
        align-items: center;

    }

    .nav__header--container{
        justify-content: end;
    }

    .dropdown__list{
        box-sizing: border-box;
        display: block;
        position: absolute;
        background-color: white;
        top: 32px;
        border-top: 15px solid orange ;
        height: 160px;
        width: 220px;
        display: grid;
        justify-content: center;
        align-items: center;
        padding: .5rem 1rem 0 2rem;
        filter: drop-shadow(1px 1px 4px #00000020);
        border-radius: 0 0 1rem 1rem;
        
    }
    .modal__container{
        align-items: center;
        
    }
}

/* Dispositivos desktop mini */
@media (min-width: 48rem){

    .from__row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
    }
    .from__input{
        display: flex;
        flex-direction: column;
        gap: .3rem;
        width: 100%;
        margin-top: 1rem;
    }

}

/* Dispositivos desktop mini de 1024px */
@media (min-width: 64rem){

    .dropdown__list{
        border-top: 9px solid orange ;
        
    }

}

/* Dispositivos desktop de 1280px */
@media (min-width: 80rem) {

}

/* Dispositivos desktop de 1440px */
@media (min-width: 90rem) {

}

/* Dispositivos desktop de 1920px */
@media (min-width: 100rem) {
    .header{
        padding: 1.4rem 0 0 0;
    }

    .nav__link{
        font-size: 1.2em;
    }
    .nav__header--grid{
        grid-template-columns: 1fr 400px;
    }
    .nav__header--grid{
        gap: 2rem;
    }
    .grid--gap{
        gap: 2.5rem;
    }
    .open-modal{
        font-size: 1em;
    }
    

    

}

/* Dispositivos desktop de 2560px */
@media (min-width: 150rem) {


}