
.container{
    width: 90%;
    margin: auto;
    max-width: 1400px;
}


.main {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    z-index: -1;
    height: 100vh;
}

.main__container--media {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -99;
}

.video__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(60%) saturate(80%);
    animation: opacity 2.5s;
}

.video__express {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Para que el video se ajuste manteniendo la relación de aspecto */
}

.blur {
    filter: blur(.7px) brightness(70%) saturate(70%);
}

.main__info--home {
    color: white;
    position: relative;
    top: 25%;
    width: 100%;
    margin: auto;
    height: 40vh;
    /* border: 1px solid orange; */
    text-align: center;
    display: grid;
    align-items: center;
    max-width: 1400px;
}

.info__home {
    box-sizing: border-box;
    /* border: 1px solid white; */
    width: 100%;
    backdrop-filter: blur(5px);
    /* Ajusta el valor del desenfoque según tus preferencias */
    -webkit-backdrop-filter: blur(5px);
    /* Prefijo para compatibilidad con navegadores WebKit */
    display: grid;
    gap: 1.5rem;
    padding: 1rem;

}

.btn-cotizar {
    width: 40%;
    max-width: 150px;
    margin: auto;
}

.home__title--change {
    color: orange;
    font-size: .8em;
}



/* ESTILO CONTENDOR SERVICES ICONS */

.main__services--icons{
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    padding: 2rem 0;
    height: 250px;
    position: relative
}
/* ESTILOS SWIPERS */
.my-swiper {
    width: 90%;
    height: 100%;
    padding: 1rem;
    max-width: 1400px;
    margin: 0 auto;
}

.swiper-slide--icons {
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;
    
}

.swiper-slide--icons img {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
    object-fit: cover;
}
.swiper-slide--icons p {
    color: orange;
    text-align: center;
    display: grid;
    text-transform: uppercase;
    gap: .3rem;
}

.swiper-slide--info{
    display: grid;
    gap: 1rem;
    height:100%;
}
.swiper-pagination{
    padding-bottom: 1rem;
}

.swiper-pagination-bullet-active {
    background-color: orange !important;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background-color: #eee !important;
}

.autoplay-progress {
    position: absolute;
    right: 26px;
    bottom: 36px;
    z-index: 10;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    color: orange;
    display: none;
}

.autoplay-progress svg {
    display: none;
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: orange;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

/* ESTILO SECCION VEHICULOS */


.section__container--transporte {
    padding: 2rem 0;

}

.vehiculo__list--content{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}


.vehiculo__list{
    display: flex;
    justify-content: center;
    align-items: start;
}


.nav__transporte{
    margin: 2rem auto;
}
.transporte__title{
    text-align: center;
}

.transporte__list{
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;
}

.content__transporte--item{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: .5rem;
}


.transporte__item{
    border-bottom: 5px solid transparent;
    transition:  border-color .7s;
    background-color: orange;
    width: 80px;
    text-align: center;
    cursor: pointer;
    vertical-align: center;
    border-radius: .2rem .2rem 0 0;
}
.vehiculo__item--change{
    border-bottom: 5px solid transparent;
}
.vehiculo__item--active{
    border-color: orangered;
}
.transporte__link{
    color: white;
}
.displayNone{
    opacity: 0;
    transition: opacity .5s ease;
}
.sw{
    opacity: 0;
    pointer-events: none;
    transition:  opacity .6s;
    
}
.transporte__article{
    width: 90%;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 1400px;
    display: grid;
    align-items: center;
    gap: 2rem;

}

.vehiculo__container--info{
    align-self: start;
    height: 100%;
}


.transporte__content{
    cursor: pointer;
    user-select: none;

}


.swiper-transporte{
    height: 400px;
}

.features__link--active{
    border-color: black;
}


.transporte__article--show{
    opacity: 1;
    pointer-events: unset;
    transition:  opacity .6s;
}

.img__vehiculos{
    width: 100%;
    max-width: 600px;
    object-fit: contain;
    max-height: 170px;
}
.img__bus,
.chverolet-traker{
    object-fit: contain !important;
}


.vehiculo__subtitle{
    color: black;
    height: 35px;
}

.logo__marca{
    width: 30px;
    height: 30px;
    object-fit: contain;
    aspect-ratio: 16 / 9;
}
.vehiculo__table{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.vehiculo__content--models{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: .5rem;
    width: 100%;
    margin: 0 auto;
}

.vehiculo__item{
    /* display: flex; */
    /* align-items: center; */
    /* gap: .2rem; */
    padding: .5rem;
}


.vehiculo__info--list{
    align-self: start;
}

.vehiculo__title{
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
}


.btn-slider{
    position: absolute;
    height: 20px;
    background-color: orange;    
    width: 20px;
    top: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
    color: black;
    font-weight: bold;
    border-radius: 999px;
    cursor: pointer;
    z-index: 999;
}
.button-next{
    right: 0;
}

.transporte__figure{
    position: relative;
    top: 0;
    bottom: 0;
    height: 280px;
    width: 100%;
}

.img__camioneta{
    opacity: 0;
    pointer-events: none;
    transition:  opacity .6s;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.img-camioneta-show{
    opacity: 1;
    pointer-events: unset;
    transition:  opacity .6s;
}


/* ESTILO COMPROMISOS */

.main__container--compromiso{
    background-color: black;
    padding: 2rem 0;
}

.compromiso__content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1400PX;
}

.compromiso__info:nth-child(-n + 2){
    border-bottom: 1px solid white;
}
.compromiso__info{
    padding: 1rem 0;
    display: grid;
    gap: .5rem;
}

.compromiso__title{
    color:white;
}

.compromiso__paragraph{
    color: #eeeeeec9;
}

/* @keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} */

/* mediaQuerys */

@media (min-width: 48rem) {

    .main__info--home {
        text-align: left;
        width: 90%;
    }

    .home__title {
        width: 450px;
        /* font-size: 2.5em; */
    }

    .info__home {
        max-width: 450px;
        border-radius: 0 1rem 1rem 0;
        gap: 2rem;
        padding: 1.5rem 0 1.5rem 1rem;
        border-left: 1px solid #eeeeee5b;

    }

    .btn-cotizar {
        width: 150px;
        margin: 0;
    }

    .home__title--change {
        color: orange;
    }
    .main__services--icons{
        height: 220px;
    }
    .transporte__list{
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
    }

    .content__transporte--item{
        justify-content: end;
        gap: 1rem;
    }

    .transporte__item{
    padding: .5rem 1rem;

    }
    

    .item--content{
        justify-content: start;
    }

    .transporte__article{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .img__vehiculos{
        max-height: 250px;
        object-fit: cover;
        filter: drop-shadow(4px 4px 8px rgba(73, 73, 73, 0.623));
    }
    .vehiculo__subtitle{
        height: unset;
    }
    .btn-slider{
        top: 150px;
    }

    .vehiculo__title{
        text-align: start;
    }

    .swiper-transporte{
        height: 300px;
    }
    
    .vehiculo__list--camioneta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .transporte__item{
        width: 100px;
    }
    
    /* .vehiculo__list--camioneta li:nth-child(-n+2){
        border-bottom: 1px solid black;
    } */
    
    .vehiculo__table{
        display: grid;
        /* flex-direction: row; */
        /* justify-content: start; */
        grid-template-columns: 1fr 2fr;
        text-align: center;
        gap: 1rem;
        height: 25vh;
    }
    
    .vehiculo__content--models{
        display: flex;
        justify-content: space-around;
        align-self: start;
        text-align: start;
        gap: .5rem;
        width: 100%;
    }

    .vehiculo__list--content{
        /* border: 1px solid red; */
    }

    .vehiculo__list--content{
        text-align: start;
        width: 90%;
        margin: 0 auto;
    }
    .vehiculo__list{
        display: flex;
        justify-content: start;
        align-items: start;
    }

    .compromiso__content{
        text-align: start;
    }

    .compromiso__info:nth-child(-n + 2){
        border-bottom: none;
        border-right: 1px solid white;
    }
    
    .compromiso__paragraph{
        padding-inline-start: .5rem;
    }
    
}

@media (min-width: 64rem) {

    .home__title {
        width: 550px;
        font-size: 2.5em;
    }

}

/* Dispositivos desktop de 1280px */
@media (min-width: 70rem) {

    .home__title {
        width: 550px;
        font-size: 2.5em;
    }

    .img__vehiculos{
        max-height: 350px;
    }

}

/* Dispositivos desktop de 1440px */
@media (min-width: 90rem) {

    .home__title {
        width: 550px;
        font-size: 2.5em;
    }
    .img__vehiculos{
        width: 100%;
        max-width: 600px;
        object-fit: cover;
        max-height: 400px;
    }
    .swiper-transporte{
        height: 350px;
    }


}

/* Dispositivos desktop de 1920px */
@media (min-width: 100rem) {
    .info__home {
        max-width: 550px;
        gap: 2rem;
    }

    .home__title {
        width: 650px;
        font-size: 3.2em;
    }

    .home__paragraph {
        font-size: 1.3em;

    }
   

}

/* Dispositivos desktop de 2560px */
@media (min-width: 150rem) {}