:root {
    --black: #31393c;
    --pragraph-black: #65666d;
    --orange-ligth: #f8961e;
    --very-orange: #0077b6;
    --main-gray: #fffffe;
    --titles-black: #2b2c34;
    --titles-white: #fffffe;
    --GrayishBlue: hsl(201, 11%, 66%);
    --blue-text: #8ecae6;
}

html {
    scroll-behavior: smooth;
}


.container {
    width: 90%;
    margin: auto;
    max-width: 1400px;
}


.main {
    box-sizing: border-box;
    width: 100%;
    position: relative;
    z-index: -1;
}

.main__container--media {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -99;
}

.video__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(60%) saturate(80%);
    animation: opacity 2.5s;
}

.video__express {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Para que el video se ajuste manteniendo la relación de aspecto */
}

.blur {
    filter: blur(.7px) brightness(70%) saturate(70%);
}

.main__info--home {
    color: white;
    position: relative;
    top: 25%;
    width: 100%;
    margin: auto;
    height: 40vh;
    /* border: 1px solid orange; */
    text-align: center;
    display: grid;
    align-items: center;
    max-width: 1400px;
}

.info__home {
    box-sizing: border-box;
    /* border: 1px solid white; */
    width: 100%;
    backdrop-filter: blur(5px);
    /* Ajusta el valor del desenfoque según tus preferencias */
    -webkit-backdrop-filter: blur(5px);
    /* Prefijo para compatibilidad con navegadores WebKit */
    display: grid;
    gap: 1.5rem;
    padding: 1rem;

}

.btn-cotizar--link {
    background-color: var(--orange-ligth);
    pointer-events: unset;
    width: 40%;
    max-width: 150px;
    margin: 0 auto;
    cursor: pointer;
    color: var(--titles-white);
    z-index: 999;
    border-radius: .3rem;
    text-align: center;
    padding: .4rem 0;
    font-weight: 600;
}

.home__title--change {
    color: var(--orange-ligth);
    font-size: .7em;
}



/* ESTILO CONTENDOR SERVICES ICONS */

.main__services--icons {
    background: linear-gradient(to bottom, #0F0E17 0%, #252525f3 40%, #0F0E17 150%), linear-gradient(to top, rgba(179, 103, 17, 0.4) 0%, rgba(0, 0, 0, 0.25) 200%);
    background-blend-mode: multiply;
    padding: 2rem 0;
    height: 250px;
    position: relative
}

/* ESTILOS SWIPERS */
.my-swiper {
    width: 90%;
    height: 100%;
    padding: 1rem;
    max-width: 1400px;
    margin: 0 auto;
    cursor: pointer;
    user-select: none;
}

.swiper-slide--icons {
    box-sizing: border-box;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem;

}

.swiper-slide--icons img {
    display: block;
    width: 90px;
    height: 90px;
    margin: auto;
    object-fit: cover;
}

.swiper-slide--icons p {
    color: var(--titles-white);
    text-align: center;
    display: grid;
    gap: .3rem;
}

.swiper-slide--info {
    display: grid;
    gap: 1rem;
    height: 100%;
}

.swiper-pagination {
    padding-bottom: 1rem;
}

.swiper-pagination-bullet-active {
    background-color: var(--very-orange) !important;
}

.swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background-color: var(--titles-white) !important;
}

.autoplay-progress {
    position: absolute;
    right: 26px;
    bottom: 36px;
    z-index: 10;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    color: orange;
    display: none;
}

.autoplay-progress svg {
    display: none;
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: orange;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

/* ESTILO SECCION VEHICULOS */


.section__container--transporte {
    padding: 2rem 0;

}

.vehiculo__list--content {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}


.vehiculo__list {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}


.nav__transporte {
    margin: 2rem auto;
}

.transporte__title {
    text-align: center;
    color: var(--titles-black);
    font-size: 1.4em;
    font-weight: 400;
}

.title__span {
    color: var(--black);
    font-weight: 600;
}

.transporte__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.content__transporte--item {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}


.transporte__item {
    border-bottom: 4px solid transparent;
    transition: border-color .7s;
    width: 33%;
    padding: .3rem 0;
    text-align: center;
    cursor: pointer;
    vertical-align: center;
    border-radius: .2rem;
}



.vehiculo__item--change {
    border-bottom: 5px solid transparent;
}

.vehiculo__item--active {
    border-color: var(--very-orange);
}

.transporte__link {
    color: white;
}

.displayNone {
    opacity: 0;
    transition: opacity .5s ease;
}

.sw {
    /* opacity: 0;
    transition:  opacity .6s; */
    clip-path: inset(0 0 100% 0);
    transition: clip-path .5s ease;
    pointer-events: none;

}

.transporte__article {
    width: 90%;
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 1400px;
    display: grid;
    align-items: center;
    gap: 2rem;

}

.vehiculo__container--info {
    align-self: start;
    height: 100%;
}


.transporte__content {
    cursor: pointer;
    user-select: none;

}


.swiper-transporte {
    height: 450px;
}



.transporte__article--show {
    /* opacity: 1;
    pointer-events: unset;
    transition:  opacity .6s; */
    clip-path: inset(0 0 0 0);
    transition: clip-path .5s ease;
    pointer-events: unset;
    width: 100%;

}

.img__vehiculos {
    width: 100%;
    max-width: 600px;
    object-fit: contain;
    max-height: 170px;
}

.img__bus,
.chverolet-traker {
    object-fit: contain !important;
}


.vehiculo__subtitle {
    color: var(--titles-black);
    height: 35px;
}

.logo__marca {
    width: 30px;
    height: 30px;
    object-fit: contain;
    aspect-ratio: 16 / 9;
}

.vehiculo__table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.vehiculo__content--models {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: .5rem;
    width: 100%;
    margin: 0 auto;
}

.vehiculo__item {
    box-sizing: border-box;
    padding: .3rem;
    width: 100%;
    font-weight: 600;
    background-color: transparent;
    border-top: 1px solid #8d8c8cad;
    border-bottom: 1px solid #8d8c8cad;
}


.vehiculo__link {
    color: var(--titles-black);
}

.vehiculo__subtitle{
    background-color: #70707027;
    color: var(--titles-black);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0 .5rem;
    margin: auto;
}




/* Grow Shadow */
.vehiculo__item--show {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform,  background-color;
    transition-property: box-shadow, transform, background-color;

  }
  .vehiculo__item:hover, 
  .vehiculo__item:focus, 
  .vehiculo__item:active,
  .vehiculo__item--show{
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    background-color: #eeee;
  }
  

.vehiculo__info--list {
    align-self: start;
}

.vehiculo__title {
    padding: 1rem .5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 2px;
}


.btn-slider {
    position: absolute;
    height: 25px;
    background-color: var(--very-orange);
    width: 25px;
    top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
    color: var(--titles-white);
    font-weight: bold;
    border-radius: 999px;
    cursor: pointer;
    z-index: 999;
    transition: background .5s;
}

.button-next {
    right: 0;
}

.transporte__figure {
    position: relative;
    top: 0;
    bottom: 0;
    height: 280px;
    width: 100%;
}

.img__camioneta {
    clip-path: inset(100% 0 0 0);
    transition: clip-path .5s ease-in-out;
    /* opacity: 0; */
    pointer-events: none;
    /* transition:  opacity .6s; */
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.img-camioneta-show {
    /* opacity: 1; */
    pointer-events: unset;
    clip-path: inset(0 0 0 0);
    transition: clip-path .6s ease-in-out;
}


/* ESTILO COMPROMISOS */

.main__container--compromiso {
    background-color: black;
    padding: 2rem 0;
}

.compromiso__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1400PX;
}

.compromiso__info:nth-child(-n + 2) {
    border-bottom: 1px solid var(--very-orange);
}

.compromiso__info {
    padding: 1rem 0;
    display: grid;
    gap: .5rem;
}

.compromiso__title {
    color: var(--titles-white);
}

.compromiso__paragraph {
    color: var(--GrayishBlue);
}

/* ESTILO CONTENEDOR MENSAJERIA */

.section__mensajeria--container {
    padding: 2rem 0;

}

.mensajeria__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}


.mensajeria__imgs {
    display: grid;
    gap: 1rem;
}

.mensajeria__info {
    text-align: center;
    display: grid;
    gap: 1rem;
    border-radius: .5rem;

}

.mensajeria__title{
    font-size: 1.6em;
    color: var(--titles-black);
}

.mensajeria__img {
    width: 100%;
    height: 100%;
    grid-column: 1 / 1;
    grid-row: 1;
    object-fit: contain;
    opacity: 0;
    transition: opacity .5s;
    filter: drop-shadow(2px 2px 8px #838383ee);

}

.mensajeria__img--show {
    opacity: 1;
    transition: opacity .5s;

}

.cotizar__content {
    width: 100%;
}

.section__cotizar--container {
    position: relative;
    display: grid;

}



.section__cotizar--container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/polygon-scatter-haikei-mobile.svg) no-repeat;
    background-size: cover;
    background-position: bottom center;
    filter: blur(.5px) brightness(100%) saturate(90%);
}


.content__imgs--cotizar {
    background: url(../images/bgFormulario2.png) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 200px;
    border-radius: 0 0 .5rem .5rem;
}

.cotizar__content {
    display: grid;
    grid-template-columns: 1fr;
    align-self: center;
    width: 80%;
    max-width: 1000px;
    margin: 2rem auto;
    background-color: white;
    position: relative;
    filter: drop-shadow(1px 1px 3px rgba(19, 19, 19, 0.719));
    border-radius: .5rem;
}

.from__cotizar {
    width: 90%;
    margin: 1rem auto;
    background-color: #ffff;
    /* border: 1px solid  black; */
}

.waves {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -1;
}

.cotizar__container {
    padding: 2rem 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 200px;
    right: 0;
    display: grid;
    clip-path: inset(0 0 100% 0);
    transition: clip-path .5s ease-in-out;
}

.cotizar__container--show {
    clip-path: inset(0 0 0 0);
    transition: clip-path .5s ease-in-out;
}


.cotizar__content--card {
    box-sizing: border-box;
    border: .5rem;
    padding: 1rem;
    width: 90%;
    max-width: 500px;
    background-color: white;
    margin: auto;
    text-align: center;
    display: grid;
    gap: 1rem;
    opacity: 0;
    transition: opacity .1s ease;

}

.cotizar__content--card-show {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.img__cotizar--card {
    margin: auto;
}


.work__container {
    background-color: #eee;
    padding: 3rem 0;
}

.work__content {
    display: grid;
    gap: 1rem;
    text-align: center;
}

.work__img {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}

.btn__work {
    justify-self: center;
    width: 50%;
}

.features__link--active {
    border-color: #22223b;
}



/* Float Shadow */
.transporte__item {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    background-color: var(--very-orange);
}

.transporte__item--active:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.transporte__item:hover,
.transporte__item:focus,
.transporte__item:active,
.transporte__item--active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    background-color: #0096c7;
    /* move the element up by 5px */
}

.transporte__item:hover:before,
.transporte__item:focus:before,
.transporte__item:active:before,
.transporte__item--active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Sweep To Right */
.btn-slider:hover {
    background-color: var(--orange-ligth);
}


.redes__link {
    color: var(--titles-white);
    font-size: 1.5em;
    transition: color .5s ease-in-out;
}

.redes__link:hover {
    color: var(--very-orange);
}
.grid--items{
    display: grid;
    gap: .5rem;
}

.model__text{
    padding: .3rem;
    text-align: center;
    border-top: 1px solid #8d8c8cad;
    border-bottom: 1px solid #8d8c8cad;
}

.link__mensajeria{
    width: 130px;
    text-align: center;
    padding: .6rem 0;
    margin: 0 auto;
    border-radius: .3rem;
    background-color: #219ebc;

}

.mensajeria__paragraph{
    line-height: 1.6;
}
/* @keyframes opacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} */

/* mediaQuerys */

@media (min-width: 48rem) {


    .main__info--home {
        text-align: left;
        width: 90%;
    }

    .home__title {
        width: 450px;
        /* font-size: 2.5em; */
    }

    .info__home {
        max-width: 450px;
        border-radius: 0 1rem 1rem 0;
        gap: 2rem;
        padding: 1.5rem 0 1.5rem 1rem;
        border-left: 1px solid #eeeeee5b;

    }

    .btn-cotizar {
        width: 150px;
        margin: 0;
    }

    .main__services--icons {
        height: 220px;
    }

    /* .swiper-slide--icons img {
        width: 90px;
        height: 90px;
    }
    .swiper-slide--icons {
        font-size: 1.1em;
        height: 100%;
        padding: 1rem;
    
    } */

    .transporte__list {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
    }

    .content__transporte--item {
        justify-content: end;
        gap: 1rem;
    }

    .transporte__item {
        padding: .5rem 1rem;

    }


    .item--content {
        justify-content: start;
    }

    .transporte__article {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .img__vehiculos {
        max-height: 250px;
        object-fit: cover;
        filter: drop-shadow(2px 2px 8px #838383ee);

    }

    .vehiculo__subtitle {
        height: unset;
        padding: .3rem .5rem;
        width: 100%;
    }

    

    .btn-slider {
        top: 110px;
    }

    .vehiculo__title {
        text-align: start;
    }

    .swiper-transporte {
        height: 300px;
    }

    .vehiculo__list--camioneta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .transporte__item {
        width: 100px;
    }

    /* .vehiculo__list--camioneta li:nth-child(-n+2){
        border-bottom: 1px solid black;
    } */

    .vehiculo__table {
        display: grid;
        /* flex-direction: row; */
        /* justify-content: start; */
        grid-template-columns: 1fr 2fr;
        text-align: center;
        gap: 1rem;
        height: 25vh;
    }
    .grid--items{
        display: grid;
        gap: 1rem;
    }

    .vehiculo__content--models {
        display: flex;
        justify-content: space-around;
        align-self: start;
        text-align: start;
        gap: .5rem;
        width: 100%;
    }

    .vehiculo__list--content {
        /* border: 1px solid red; */
    }

    .vehiculo__list--content {
        text-align: start;
        width: 90%;
        margin: 0 auto;
    }

    .vehiculo__list {
        display: flex;
        justify-content: start;
        align-items: start;
    }

    .compromiso__content {
        text-align: start;
    }

    .compromiso__info:nth-child(-n + 2) {
        border-bottom: none;
        border-right: 1px solid var(--very-orange);
    }

    .compromiso__paragraph {
        padding-inline-start: .5rem;
    }

    .mensajeria__info {
        align-self: center;
        text-align: start;
    }

    .mensajeria__title{
        font-size: 2em;
        max-width: 500px;
        color: var(--titles-black);
    }

    .mensajeria__paragraph{
        max-width: 500px;
    }
    .img__cotizar {
        width: 100%;
        height: 450px;
    }

    .cotizar__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        gap: 1rem;
        background-color: white;
    }

    .cotizar__container {
        width: 50%;
        left: auto;
        right: 0;
        bottom: 0;
    }

    .content__imgs--cotizar {
        background-color: red;
        background: url(../images/bgFormulario2.png) no-repeat;
        background-size: cover;
        background-position: left;
        height: unset;
        border-radius: .5rem 0 0 .5rem;
        grid-column: 1 / 2;
        grid-row: 1;
    }

    .from__cotizar {
        grid-column: 2 / -1;
    }

    .section__cotizar--container::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: url(../images/bgFormulario2.png) no-repeat; */
        background: url(../images/polygon-scatter-haikei-desktop.svg) no-repeat;
        background-size: cover;
        background-position: left bottom;
        /* filter: blur(1.5px) brightness(100%) saturate(100%); */
        /* z-index: -1; */
    }

    .work__content {
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
    }

    .work__img {
        margin: 0;
    }

    .btn__work {
        justify-self: end;
        width: 50%;
    }

    .btn-cotizar--link {
        margin: 0;
        padding: .5rem 0;
    }


    .transporte__title {
        color: var(--titles-black);
        font-size: 1.7em;
        max-width: 610px;
        margin: 0 auto;
    }

    .title__span {
        color: var(--black);
    }

    .link__mensajeria{
        width: 150px;
        padding: .7rem 0;
        margin: 0;
    }

}

@media (min-width: 64rem) {

    .home__title {
        width: 550px;
        font-size: 2.5em;
    }

}

/* Dispositivos desktop de 1280px */
@media (min-width: 70rem) {

    .home__title {
        width: 550px;
        font-size: 2.5em;
    }

    .img__vehiculos {
        max-height: 350px;
    }

    .btn-cotizar--link {
        margin: 0;
        padding: .6rem 0;
    }


    .title__span {
        color: var(--black);
    }


}

/* Dispositivos desktop de 1440px */
@media (min-width: 90rem) {

    .home__title {
        width: 550px;
        font-size: 2.5em;
    }

    .img__vehiculos {
        width: 100%;
        max-width: 600px;
        object-fit: cover;
        max-height: 400px;
    }

    .swiper-transporte {
        height: 350px;
    }

    .transporte__title {
        text-align: center;
        color: var(--titles-black);
        font-size: 2em;
        max-width: 750px;
        margin-bottom: 2rem;
    }


}

/* Dispositivos desktop de 1920px */
@media (min-width: 100rem) {
    .info__home {
        max-width: 550px;
        gap: 2rem;
    }

    .home__title {
        width: 650px;
        font-size: 3.2em;
    }

    .home__paragraph {
        font-size: 1.3em;

    }

    .btn-cotizar--link {
        margin: 0;
        font-size: 1.1em;
        padding: .7rem 0;
    }


}

/* Dispositivos desktop de 2560px */
@media (min-width: 150rem) {}